<div>
    <h1><%= @board.name %></h1>
    <h2><%= @board.scope %></h2>
    <% @lists.each do |list| %>
        <div>
            <h3><%= list.name%></h3>
            <% list.cards.each do |card| %>
                <h4><%= card.name %></h4>
                <%= link_to "Delete", board_list_card_path(@board, list, card), method: :delete, data: { confirm: 'Are you sure?'} %>
            <% end %>
            <%= link_to "Create a new card", new_board_list_card_path(@board, list) %>
        </div>
    <% end %>
    <div id = "list new">
        <%= link_to "Create a new Lists", new_board_list_path(@board) %>    
    </div>
</div>